 <% @friends.each do |friend| %>
    <div class="card photo-form">
        <div class="card-body">
            <%= link_to friend.email, profile_path(friend.id) %> |
            <%= link_to "Отписаться", unsubscribe_profile_path(friend.id) %>
        </div>
    </div><br>
<% end %>