<div class="jumbotron">
  <h1 class="display-4">Добро пожаловать на Yanagram</h1>
  <p class="lead">Размещайте ваши фотографии и подписывайтесь на публикации друзей.</p>
  <hr class="my-4">

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Создать аккаунд</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Войти</a>
  </p>
</div>
