<% if user_signed_in? %>
<% else %>

<div class="jumbotron">
  <h1 class="display-4">Добро пожаловать на Yanagram</h1>
  <p class="lead">Размещайте ваши фотографии и подписывайтесь на публикации друзей.</p>
  <hr class="my-4">
  <p class="lead">
    <%= link_to "Создать аккаунт", new_user_registration_path, class: "btn btn-warning" %>
   <%= link_to "Войти", new_user_session_path, class: "btn btn-primary" %>
  </p>
</div>

<% end %>


